*{
	margin: 0px;
	padding: 0px;
}
#main{
	position: relative;
}
.content{
	float: left;
	padding: 15px 0 0 15px;
	border: 1px solid red;

}
.pic{
	/*display: block;*/
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px;
}
.pic img{
	width: 200px;
	height: auto;
}